node_modules/
dist/
.env
.env.local
coverage/

# Terraform

.terraform/
terraform.tfstate
terraform.tfstate.backup

frontend/node_modules/
backend/node_modules/

zuri-market/

# Logs

*.log

# OS files

.DS_Store
Thumbs.db